.container .footer
{
    margin-top: 2vh;
    height: 30vh;
    background-color: #111111;
    box-shadow: 0 0 15px #111111;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container .footer .left-section, .container .footer .middle-section, .container .footer .right-section 
{
    flex: 1;            
    display: flex;
}
.container .footer .left-section
{
    display: flex;
    flex-direction: column;
    align-items: start;
}

.container .footer .location a, .phone-number a, .mail a, .working-time a 
{
    font-size: 1rem;
    display: flex;
    gap: 0.75vw;
    margin-left: 1.5vw;
}
.container .footer .working-time .no-click
{
    pointer-events: none;
    cursor: text;
}
.container .footer .location a img, .phone-number a img, .mail a img, .working-time a img 
{
    width: 30px;
}
.container .footer .middle-section
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .footer .logo-and-name
{
    display: flex;
    align-items: center;
    gap: 0.2vw;
}
.container .footer .logo-and-name img 
{
    width: 115px;
}
.container .footer .logo-and-name p 
{
    font-family: Roboto;
    color: white;
    font-size: 3.2rem;
    font-weight: bold;
}
.container .footer .right-section
{
    display: flex;
    flex-direction: column;
    align-items: flex-end; 
    justify-content: center; 
    margin-right: 1.5vw;
}
.container .footer .right-section p
{
    font-size: 1rem;
    color: white;
    text-align: center;
    font-family: Roboto;
}

.container .footer .right-section .newsletter-form
{
    display: flex;
    flex-direction: column;
    align-items: center;   
    text-align: center;
    position: relative;
}
.container .footer .right-section .newsletter-form label
{
    color: white;
}
.container .footer .right-section .newsletter-form p 
{
    min-height: 1.2em;   
    margin-top: 0.5rem;
    color: white;
}
.container .footer .right-section .newsletter-form input
{
    margin-top: 5px;
    padding: 8px;
    border-radius: 25px;
    outline: none;
    font-size: 16px;
    border: 1px solid white;
    width: 300px;
}
.container .footer .right-section .newsletter-form button
{
    background-color: #111111;
    color: white;
    font-size: 16px;
    border: none;
    padding: 8px;
    border-radius: 25px;
    position: absolute;
    right: 0;
    top: 25px;
    margin-right: 1px;
    cursor: pointer;
    box-shadow: 0 0 2px #111111;
    transition: opacity 0.3s ease;
}
.container .footer .right-section .newsletter-form button:hover
{
    opacity: 0.7;
}
.container .footer .right-section .newsletter-form button:active
{
    opacity: 0.5;
}
.container .footer .right-section .follow-us 
{
    margin-top: -20px;
    display: flex;
    flex-direction: column;
    align-items: center;    
    text-align: center;
    width: 300px;
}
.container .footer .right-section .social-icons 
{
    display: flex;
    justify-content: center;
    gap: 1vw;
}
.container .footer .right-section a img 
{
    width: 35px;
}
.container .copyright
{
    height: 5vh;
    background-color: #1a1a1a;
    margin-top: -2.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 10px 10px -10px rgba(0,0,0,0.5);
    border-top: 1px solid #222;
    margin-bottom: 0;
}
.container .copyright h3 
{
    color: white;
    font-family: Roboto;
}