body 
{
    background-color: #FFFBFB;;
}
.main .console-names
{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}
.container .main .game-cards
{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    font-family: Roboto;
    gap: 1.5vw;
    width: 95vw;
    margin: 2.5vh auto;
    margin-top: 2.5vh;
    padding-bottom: 2vh;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    box-sizing: border-box;
}

.container .main .game-cards .card
{
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    padding: 0.5vw;
    transition: transform 0.3s ease;
    width: 250px;      
    min-height: 400px;
    flex-shrink: 0; 
    flex-grow: 0;
    background-color: #ffffff;
    padding-bottom: 3vh;
    padding-top: 0;
}
.container .main .game-cards .card:hover 
{
    transform: translateY(-5px);
}
.container .main .game-cards .card a
{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
    font-size: 1.2rem;
    color: black;
}
.container .main .game-cards .card button
{
    background-color: #111111;
    color: white;
    border: 1px solid #111111;
    border-radius: 25px;
    padding: 12px 10px;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    transition: transform 0.3s ease, opacity 0.3s ease;
    width: 135px;
}
.container .main .game-cards .card button:hover 
{
    transform: translateY(-5px);
    opacity: 0.7;
}
.container .main .game-cards .card button:active 
{
    opacity: 0.5;
}
.container .main .game-cards .card a img
{
    width: 230px;
    height: auto;
    mix-blend-mode: multiply;
}
.game-price
{
    color: #FF4365;
    font-weight: bold;
}
.container .filter-and-sort
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}
.container .filter-and-sort .sort .sort-select, .container .filter-and-sort .filter a
{
    border-radius: 25px;
    border: none;
    padding: 12px 10px;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    color: black;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.container .filter-and-sort .filter a
{
    padding: 12px 40px;
    background-color: white;
}
.container .filter-and-sort .filter a:hover 
{
    background-color: #111111;
    color: white;
}
.price-slider-container
{
    display: none;
}
.filter a:hover .price-slider-container
{
    display: block;
}

.container .game-pages
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.container .game-pages a 
{
    background-color: white;
    color: #111111;
    text-decoration: none;
    font-family: Roboto;
    font-size: 16px;
    border-radius: 25px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    padding: 10px 16px;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.container .game-pages a:hover 
{
    background-color: #111111;
    color: white;
}
.container .game-pages a.active 
{
    background-color: #111111;
    color: white;
}