@media (max-width: 1100px)
{
    .container .navbar .right-section .left-part
    {
        display: none;
    }
    .right-section .hamburger
    {
        display: block;
        position: relative;
        top: 0%;
    }
    .right-section .hamburger-menu
    {
        display: flex; 
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        background-color: #111111; 
        width: 200px;
        position: absolute;
        top: 75px; 
        z-index: 1;
        box-shadow: 0 8px 16px rgba(0,0,0,0.5);
        padding: 10px 10px;
        left: 400px;
        transform: translateX(-20%);
        opacity: 0;
        transition: opacity 0.5s ease, left 0.5s ease;
        border-bottom-left-radius: 20px;
    }
    .right-section .hamburger-menu a
    {
        border-radius: 15px;
        padding: 12px 10px;
    }
    .right-section .hamburger-menu a:hover
    {
        background-color: rgba(255,255,255,0.1);
    }
    .right-section .hamburger-menu.active
    {
        opacity: 1;
        pointer-events: auto;
        left: 50%;
    }
}
@media (max-width: 900px)
{

    .container .navbar .left-section a 
    {
        font-size: 36px;
    }
    .container .navbar .left-section a img
    {
        width: 56px;
        height: auto;
    }
    .container .navbar .right-section .left-part
    {
        display: none;
    }
    .right-section .hamburger
    {
        display: block;
    }
    .container .navbar .right-section .right-part img 
    {
        width: 40px;
        height: auto;
    }
    .container .main .game-cards .card
    {
        width: 250px;
    }
    .container .footer .location a, .phone-number a, .mail a, .working-time a 
    {
        font-size: 13px;
    }
    .container .footer .right-section a img 
    {
        width: 50px;
    }
    .container .right-part .search-bar 
    {
        margin-top: 2.5vh;
    }

}
@media (max-width: 750px)
{
    .container .navbar .left-section a 
    {
        font-size: 28px;
    }
    .container .navbar .right-section .left-part
    {
        display: none;
    }
    .container .footer
    {
        padding-top: 20px;
        height: 450px;
        flex-direction: column;
        justify-content: space-around;
    }
    .container .main .consoles .console 
    {
        height: 31.5vh;  
    }
    .container .main .consoles .nintendo
    {
        height: 65vh;
    }
    
}