.navbar
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #111111;
    height: 100px;
    padding: 0 3vw;
    font-family: Roboto;
    box-shadow: 0 0 15px #111111;
    
}
.left-section
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5vw;
    cursor: pointer;
}
.left-section a 
{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 3.2rem;
    font-weight: bold;
}
.left-section a img
{
    width: 80px;
    height: auto;
}
.right-section .hamburger
{
    display: none;
}
.right-section ul
{
    display: flex;
    align-items: center;
    gap: 1vw;
    list-style: none;
}
.right-section ul li
{
    text-decoration: none;
}
.right-section ul li a 
{
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 0.5vw;
}
.right-section ul li a img 
{
    width: 42px;
}
.left-part
{
    display: flex;
    gap: 1.5vw;
    margin-right: 1.5vw;
}
.left-part li a 
{
    padding: 0.5rem 1rem;
    transition: background-color 0.2s;
    border-radius: 15px;
}
.right-part 
{   
    gap: 0.8vw;
    display: flex;
    align-items: center;
}
.right-section ul .left-part li a:hover
{
    background-color: #202020;
    border-radius: 15px;
    scale: 1.075;
    transition: background-color 0.2s, scale 0.2s;
}
.dropdown 
{
    position: relative;
}
.dropdown-menu 
{
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #1a1a1a;
    border-radius: 8px;
    padding: 0.5rem 0;
    list-style: none;
    min-width: 160px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.4);
    opacity: 0;
    transition: 0.25s ease;
    display: flex;
    flex-direction: column;
    z-index: 10;
    transition: top 0.3s ease, opacity 0.5s ease;
}
.dropdown:hover .dropdown-menu 
{
    opacity: 1;
    transform: translateX(-50%);
    top: 100%;
}
.navbar .right-section .dropdown-menu li a 
{
    
    font-size: 1.2rem;  
    padding: 0.5rem 1rem;
    color: white;

}

.dropdown-menu li a:hover 
{
    background-color: rgba(255,255,255,0.1);
}
.dropdown-menu {
    margin-top: 0.5rem;
}
.container .right-part .search-bar 
{
    border: 5px solid #202020;
    background-color: #111111;
    color: white;
    font-family: Roboto;
    font-size: 1.5rem;
    outline: none;
    position: absolute;
    z-index: 1;
    left: 100%;
    transform: translateX(-200%) scale(0);
    width: 100%;
    margin-top: 2.5vh;
    text-align: center;
    padding: 0.5rem 1rem;
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease;
}
.container .right-part .search-bar.active {
    opacity: 1;
    pointer-events: auto;
    transform: translateX(-100%) scale(1);
}
.container .right-part .search-bar::placeholder {
    color: white;
}
.search-bar::-webkit-search-cancel-button 
{
    -webkit-appearance: none; 
    height: 25px;
    width: 25px;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='white'><path d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/></svg>");
    cursor: pointer;
}