body 
{
    background-color: #FFFBFB;;
}
.main .console-names
{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}
.container .main .periphery-cards
{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-content: center;
    font-family: Roboto;
    gap: 1.5vw;
    width: 95vw;
    margin: 2.5vh auto;
    margin-top: 2.5vh;
    padding-bottom: 2vh;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    box-sizing: border-box;
}

.container .main .periphery-cards .card
{
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    padding: 0.5vw;
    transition: transform 0.3s ease;
    width: 250px;      
    min-height: 400px;
    flex-shrink: 0; 
    flex-grow: 0;
    background-color: #ffffff;
    padding-bottom: 3vh;
}
.container .main .periphery-cards .card:hover 
{
    transform: translateY(-5px);
}
.container .main .periphery-cards .card a
{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
    font-size: 1.2rem;
    color: black;
}
.container .main .periphery-cards .card button
{
    background-color: #111111;
    color: white;
    border: 1px solid #111111;
    border-radius: 25px;
    padding: 12px 10px;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    transition: transform 0.3s ease, opacity 0.3s ease;
    width: 135px;
}
.container .main .periphery-cards .card button:hover 
{
    transform: translateY(-5px);
    opacity: 0.7;
}
.container .main .periphery-cards .card button:active 
{
    opacity: 0.5;
}
.container .main .periphery-cards .card a img
{
    width: 230px;
    height: auto;
    mix-blend-mode: multiply;
    margin-top: 15px;
}
.periphery-price
{
    color: #FF4365;
    font-weight: bold;
}