body
{
    margin: 0;
    padding: 0;
    background-color: #FFFBFB;
    font-family: Roboto;
}
.navbar
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #111111;
    height: 10vh;
    padding: 0 3vw;
    font-family: Roboto;
    box-shadow: 0 0 15px #111111;
    
}
.left-section
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5vw;
    cursor: pointer;
}
.left-section a 
{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 3.2rem;
    font-weight: bold;
}
.left-section a img
{
    max-width: 3.5vw;
}
.right-section ul
{
    display: flex;
    align-items: center;
    gap: 1vw;
    list-style: none;
}
.right-section ul li
{
    text-decoration: none;
}
.right-section ul li a 
{
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 0.5vw;
}
.right-section ul li a img 
{
    max-width: 1.75vw;
}
.left-part
{
    display: flex;
    gap: 1.5vw;
    margin-right: 1.5vw;
}
.left-part li a 
{
    padding: 0.5rem 1rem;
    transition: background-color 0.2s;
}
.right-part 
{   
    gap: 0.8vw;
    display: flex;
    align-items: center;
}
.right-section ul .left-part li a:hover
{
    background-color: #202020;
    border-radius: 15px;
    scale: 1.075;
    transition: background-color 0.2s, scale 0.2s;
}
.dropdown 
{
    position: relative;
}
.dropdown-menu 
{
    position: absolute;
    top: 100%;
    left: -20%;
    background-color: #1a1a1a;
    border-radius: 8px;
    padding: 0.5rem 0;
    list-style: none;
    min-width: 160px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.4);
    opacity: 0;
    visibility: hidden;
    transition: 0.25s ease;
    display: flex;
    flex-direction: column;
    z-index: 1;
}
.dropdownPeriferije
{
    left: 0;
}
.dropdown:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
}
.navbar .right-section .dropdown-menu li a 
{
    
    font-size: 1.2rem;  
    padding: 0.5rem 1rem;
    color: white;

}

.dropdown-menu li a:hover {
    background-color: rgba(255,255,255,0.1);
}
.dropdown-menu {
    margin-top: 0.5rem;
}
.main 
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas: 
    "top top top" 
    "top top top" 
    "middle middle middle" 
    "bottom bottom bottom" 
    "bottom bottom bottom";
    text-align: center;
}
.main .image-slider 
{
    grid-area: top;
    position: relative;
    width: 100%;
}
.main .slide a img
{
    width: 100%;
    text-align: center;
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
}
.previousSlide, .nextSlide
{
    position: absolute;
    cursor: pointer;
    color: white;
    background-color: black;
    padding: 12px;
    font-size: 24px;
    border-radius: 3px;
    background: rgba(0, 0, 0, 0.4);
    top: 50%;
    transform: translateY(-50%);
    transition: opacity 0.2s;
}
.slide 
{
    display: none;
    animation-name: fade;
    animation-duration: 1.5s;
}
.previousSlide
{
    left: 0.75vw;
}
.nextSlide
{
    right: 0.75vw;
}
.previousSlide:hover, .nextSlide:hover 
{
    opacity: 0.7;
}
.previousSlide:active, .nextSlide:active 
{
    opacity: 0.5;
}
@keyframes fade 
{
    from {opacity: .5;}
    to {opacity: 1;}
}
.container .main .game-cards
{
    font-family: Roboto;
    grid-area: middle;
    display: flex; 
    flex-wrap: nowrap;
    gap: 1.5vw;
    overflow-x: auto;
    width: 95vw;
    margin: 2.5vh auto;
    margin-top: 2.5vh;
    padding-bottom: 2vh;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    box-sizing: border-box
}
.container .main .game-cards::-webkit-scrollbar 
{
    height: 5px; 
    width: 2vw;
}

.container .main .game-cards::-webkit-scrollbar-track 
{
    background: none;
    margin: 0 0.5vw;
    
}

.container .main .game-cards::-webkit-scrollbar-thumb 
{
    background-color: #111111;
    border-radius: 10px;
}
.container .main .game-cards .card
{
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    padding: 0.5vw;
    transition: transform 0.3s ease;
    width: 13vw;      
    height: auto;
    background-color: #ffffff;
    padding-bottom: 3vh;
    padding-top: 0;
}
.container .main .game-cards .card:hover 
{
    transform: translateY(-5px);
}
.container .main .game-cards .card a
{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
    font-size: 1.2rem;
    color: black;
}
.container .main .game-cards .card button
{
    background-color: #111111;
    color: white;
    border: 1px solid #111111;
    border-radius: 25px;
    padding: 12px 10px;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    transition: transform 0.3s ease, opacity 0.3s ease;
    width: 7vw;
}
.container .main .game-cards .card button:hover 
{
    transform: translateY(-5px);
    opacity: 0.7;
}
.container .main .game-cards .card button:active 
{
    opacity: 0.5;
}
.container .main .game-cards .card a img
{
    width: 12vw;
    height: auto;
    mix-blend-mode: multiply;
}
.game-price
{
    color: #FF4365;
    font-weight: bold;
}
.container .main .consoles
{
    display: grid;
    grid-area: bottom;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: auto auto;
    gap: 2vw;
    padding: 1vw;
    grid-template-areas: 
        "ps5 nintendo"
        "xbox nintendo";
    margin: 0 auto;
    align-items: center;
    width: 95vw;
}
.ps5 { 
    grid-area: ps5; 
}
.xbox { 
    grid-area: xbox; 
}
.nintendo 
{ 
    grid-area: nintendo;
}
.console img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: contain; 
}

.container .main .consoles .console 
{
    width: 100%;
    height: 50vh;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    transition: opacity 0.25s ease;
}
.container .main .consoles .console:hover 
{
    opacity: 0.7;
}
.container .main .consoles .console:active 
{
    opacity: 0.5;
}
.container .main .consoles .nintendo
{
    background-color: #E60012;
    height: 104.5vh;
}
