body
{
    margin: 0;
    padding: 0;
    background-color: #FFFBFB;
}
.navbar
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #111111;
    height: 10vh;
    padding: 0 3vw;
    font-family: Roboto;
    box-shadow: 0 0 15px #111111;
    
}
.left-section
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5vw;
    cursor: pointer;
}
.left-section a 
{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 3.2rem;
    font-weight: bold;
}
.left-section a img
{
    max-width: 3.5vw;
}
.right-section ul
{
    display: flex;
    align-items: center;
    gap: 1vw;
    list-style: none;
}
.right-section ul li
{
    text-decoration: none;
}
.right-section ul li a 
{
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.right-section ul li a img 
{
    max-width: 1.75vw;
}
.left-part
{
    display: flex;
    gap: 1.5vw;
    margin-right: 1.5vw;
}
.left-part li a 
{
    padding: 0.5rem 1rem;
    transition: background-color 0.2s;
}
.right-part 
{   
    gap: 0.8vw;
    display: flex;
    align-items: center;
}
.right-section ul .left-part li a:hover
{
    background-color: #202020;
    border-radius: 15px;
    scale: 1.075;
    transition: background-color 0.2s, scale 0.2s;
}
.dropdown 
{
    position: relative;
}
.dropdown-menu 
{
    position: absolute;
    top: 100%;
    left: -25%;
    background-color: #1a1a1a;
    border-radius: 8px;
    padding: 0.5rem 0;
    list-style: none;
    min-width: 160px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.4);
    opacity: 0;
    visibility: hidden;
    transition: 0.25s ease;
    display: flex;
    flex-direction: column;
}
.dropdownPeriferije
{
    left: 0;
}
.dropdown:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
}
.navbar .right-section .dropdown-menu li a 
{
    
    font-size: 1.2rem;  
    padding: 0.5rem 1rem;
    color: white;

}

.dropdown-menu li a:hover {
    background-color: rgba(255,255,255,0.1);
}
.dropdown-menu {
    margin-top: 0.5rem;
}
.main 
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas: 
    "top top top" 
    "top top top" 
    "middle middle middle" 
    "bottom bottom bottom" 
    "bottom bottom bottom";
    text-align: center;
}
.main .image-slider 
{
    grid-area: top;
}
.main .slide a img
{
    width: 100%;
    text-align: center;
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
}
.container .main .game-cards
{
    margin-top: 2.5vh;
    grid-area: middle;
    display: flex;
    justify-content: center;
    gap: 2vw;
}
.container .main .game-cards .card
{
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    padding: 12px 10px;
    transition: transform 0.3s ease;
    width: 12vw;       
    height: fit-content;
}
.container .main .game-cards .card:hover 
{
    transform: translateY(-5px);
}
.container .main .game-cards .card a
{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
    font-size: 1.2rem;
    color: black;
}
.container .main .game-cards .card button
{
    background-color: #111111;
    color: white;
    border: 1px solid #111111;
    border-radius: 15px;
    padding: 12px 10px;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    transition: transform 0.3s ease, opacity 0.3s ease;
}
.container .main .game-cards .card button:hover 
{
    transform: translateY(-5px);
    opacity: 0.7;
}
.container .main .game-cards .card a img
{
    width: 10vw;
}
.container .main .consoles
{
    display: grid;
    grid-area: bottom;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: auto auto;
    gap: 2vw;
    padding: 1vw;
    grid-template-areas: 
        "ps5 nintendo"
        "xbox nintendo";
    max-width: 80vw;
    margin: 0 auto;
}
.ps5 { 
    grid-area: ps5; 
}
.xbox { 
    grid-area: xbox; 
}
.nintendo 
{ 
    grid-area: nintendo;
}
.console img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: contain; 
}

.container .main .consoles .console 
{
    width: 40vw;
    height: 50vh;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}
.container .main .consoles .nintendo
{
    background-color: #E60012;
    height: 104.5vh;
}