@media (max-width: 1250px)
{
    table 
    {
        margin: 0 20px;
    } 
}
@media (max-width: 715px)
{
    .comparison-table 
    {
        overflow-x: auto;
        display: block;
    }
    .comparison-table::-webkit-scrollbar 
    {
        height: 5px; 
        width: 2vw;
    }

    .comparison-table::-webkit-scrollbar-track 
    {
        background: none;
        margin: 0 0.5vw;
        
    }

    .comparison-table::-webkit-scrollbar-thumb 
    {
        background-color: #111111;
        border-radius: 10px;
    }
}
